<div class="overlay">
    <div id="div-verProducto">
        <div class="text-end">
            <button type="button" id="btn-cerrar-detalle" style="background-color: transparent; border: none" class="text-white fs-2"><i class="fa-solid fa-x"></i></button>
        </div>
            <h2 id="titulo-detalle" class="text-center text-white mb-3 pt-2"></h2>
            <div class="d-flex" style="justify-content: center;">
            <img id="imagen-detalle">
            </div>
    </div>
</div>