<footer class="text-white text-center bg-black p-3 mt-0 vstack" style="align-items:center;">
    <p><b>La Nave Rockería</b> - Laprida 875, Lomas de Zamora (Buenos Aires)</p>
    <p>Buscanos en las redes:</p>
    <div class="hstack mb-5" style="justify-content: center;">
        <a class="a-footer" href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
        <a class="a-footer" href="https://www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="a-footer" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
        <a class="a-footer" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    <p>Sitio web desarrollado por DLC <i class="fa-solid fa-crow"></i></p>
</footer>