<header>
    <div id="div-superior" class="hstack justify-content-between">
        <button id="btn-admin-atras" class="btn">
            <a id="a-admin-atras" href="admin" class="text-white"><i class="fa-solid fa-arrow-left"></i> Atrás</a>
        </button>

        <div class="ps-3 pe-3 d-none d-sm-block">
            <img src="./assets/img/logo.jpg" alt="logo" style="height: 50px;">
        </div>

        <div class="pe-2">
            <button class="btn">
                <a id="a-admin-salir" href="/">Salir <i class="fa-solid fa-right-from-bracket"></i></a>
            </button>

        </div>
    </div>
</header>