<header>
    <div id="div-superior" class="hstack">
        <div class="ps-3 d-none d-sm-block">
            <img src="./assets/img/logo.jpg" alt="logo" style="height: 50px;">
        </div>

        <div class="ms-auto pe-2">
            <button id="boton-admin-salir" class="btn">
                <a id="a-admin-salir" href="/">Salir <i class="fa-solid fa-right-from-bracket"></i></a>
            </button>

        </div>

    </div>
</header>