
    /* background-color: #E55648; rojo*/
    /* background-color: #58944E; verde*/
    /* background-color: #422D6C; violeta*/


a {
    text-decoration: none;
    display: block;
}

#boton-hamburguesa, #boton-carrito {
    border: none !important;
    color: black !important;
    font-size: 1.3em;
}

#boton-hamburguesa:hover, #a-carrito:hover {
    color: white !important;
}

.menu-chico, .productos-chico {
    background-color: black !important;
}

.search-container {
    margin-top: 5px;
    position: relative;
}

.search-input {
    background-color:darkgrey;
    height: 35px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-80%);
    color: black;
}

.dropdown-chico, .productos-chico, .menu-grande-item:hover, .dropdown-productos-grande {
    color: white !important;
}

.dropdown-productos-chico {
    color: black;
    padding: 6px;
}

.dropdown-chico:hover, .productos-chico:hover, .dropdown-productos-chico:hover, .dropdown-productos-grande:hover {
    background-color:white !important;
    color: black !important;
}

.menu-grande-item {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.menu-grande-li {
    margin: 0 3%;
}

.sub-menu-grande {
    width: 400px;
    overflow: hidden;
}
.tarjeta {
    width: 300px !important;
}

.sombra {
    box-shadow: 0 2px 5px grey;
}

.agregar:hover {
    background-color: #E55648 !important;
}

@media (min-width: 768px) {
    #a-carrito::before {
        content: 'Carrito';
    }
    
}