<div class="m-0 p-0" style="background-color: #957d96;" id="panel-administrador">
    {{> headerAdmin}}
    <main>
        <div class="container-md d-flex flex-column" style="max-width: 700px;">
            <h1 class="text-white text-center">
                Panel de administrador
            </h1>
            <div class="d-md-flex flex-row">
                <button class="btn btn-dark"><a href="alta">Agregar +</a></button>
                <button class="btn btn-dark"><a href="mensajes">Ver mensajes</a></button>
                <form class="hstack">
                    <input class="form-control" type="search" placeholder="Buscar productos">
                    <button class="btn btn-dark ms-2" type="submit">Buscar</button>
                </form>
            </div>
            <div id="tabla-administrador" class="p-0 mb-5 mt-2" style="border-radius: 6px; overflow: hidden">
                <table class="table table-dark table-striped table-responsive m-0">
                    <thead>
                        <tr class="text-center">
                            <th>tipo</th>
                            <th>banda</th>
                            <th>precio</th>
                            <th>stock</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    {{#if productos}}
                    {{#each productos}}
                    <tr>
                        <td>{{this.tipo}}</td>
                        <td>{{this.banda}}</td>
                        <td class="text-center">{{this.precio}}</td>
                        <td class="text-center">{{this.stock}}</td>
                        <td class="text-center">Acción</td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </table>

            </div>
        </div>
    </main>
</div>