
<div class="m-0 p-0" style="background-color: #957d96;" id="pagina-alta">
    {{> headerAdmin}}
    <main>
        <form class="text-white">
        <div class="container d-flex flex-column" style="max-width: 500px;">
            <h1 class="text-white text-center">
                Alta de producto
            </h1>
        
            <label for="producto-tipo" class="form-label ps-2 mt-3">Tipo de producto:</label>
            <select class="form-select" name="producto-tipo" id="producto-tipo">
                <option value="" disabled selected>Seleccionar</option>
                <option value="Remera">Remera</option>
                <option value="Buzo">Buzo</option>
                <option value="Mochila">Mochila</option>
            </select>
            
            <label for="banda" class="form-label ps-2 mt-3">Artista / Banda:</label>
            <input class="form-control" type="text" name="banda" id="producto-banda">

            <div class="hstack gap-1">

                <div>
                    <label for="stock" class="form-label ps-2 mt-3">Stock:</label>
                    <input class="form-control" type="number" name="stock" id="producto-stock">
                </div>
                <div class="ms-auto">
                    <label for="precio" class="form-label ps-2 mt-3">Precio (ARS):</label>
                    <input class="form-control" type="number" name="precio" id="producto-precio">
                </div>

            </div>

            <label for="imagen" class="form-label ps-2 mt-3">Imagen:</label>
            <input class="form-control" type="file"  id="imagen-producto" name="imagen">
        </div>
        <div class="text-center m-5">
            <button type="button" class="enviar btn btn-dark" id="btn-enviar-alta" style="width: 90px;">
            Enviar <i class="fa-solid fa-share"></i>
            </button>
            <button type="reset" class="cancelar btn btn-dark" style="width: 107px;">
            Cancelar <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        </form>
    </main>
    {{> footer}}
</div>