
<div class="mb-0" style="background-color: #58944E;" id="carrito">
    {{> header}}
    <main>
        <div class="container d-flex flex-column" style="max-width: 700px;">
            <h1 class="text-white text-center">
                Carrito de compras
            </h1>
            <div id="tabla-botones-carrito">

            </div>
        </div>
        <div class="overlay">
            <div id="div-verProducto" class="text-center">
                {{> detalle}}
                <button class="vaciar btn btn-danger mt-3 mb-3" style="width: 110px;" title="Quitar del carrito">Eliminar <i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </main>
</div>