
<div class="mb-0 pb-0" id="pagina-carrito">
    {{> header}}
    <main>
        <div class="container-md d-flex flex-column" style="max-width: 700px;">
            <h1 class="titulo-de-pagina text-white text-center mt-3 mb-0">
                Carrito de compras
            </h1>
            <div id="tabla-botones-carrito">

            </div>
        </div>
        {{> detalle}}
    </main>
</div>
{{> footer}}
