
<div class="mb-0" id="index">
    {{> header}}
    <div class="d-none d-sm-block">
        <img class="w-100 mt-0 mb-0 p-0" src="./assets/img/banner2.png" alt="banner">
        <p class="text-end mt-0 pt-0 pe-3"><b>REMERAS - BUZOS - MOCHILAS</b></p>
    </div>
    <main>
        <div class="tarjetas d-flex flex-wrap p-5" style="justify-content: center;" id="div-tarjetas">
            {{> tarjetas}}
        </div>
        {{> detalle}}
    </main>
</div>
{{> footer}}
