<div class="mb-0" id="pagina-nosotros">
    {{> header}}
    <main>
        <div class="container d-flex flex-column" style="max-width: 500px;">
            <h1 class="titulo-de-pagina text-white text-center">
                Sobre nosotros
            </h1>
        </div>
    </main>
</div>
{{> footer}}
