<div class="mb-0" style="background-color: #1899D2;">
    {{> header}}
    <main>
        <div class="container d-flex flex-column" style="max-width: 500px;">
            <h1 class="text-white text-center">
                Sobre nosotros
            </h1>
        </div>
    </main>
</div>
{{> footer}}