<div class="mb-0" id="pagina-nosotros">
    {{> header}}
    <main>
        <div class="container d-flex flex-column text-white text-center" style="max-width: 500px;">
        <h1 class="titulo-de-pagina text-white text-center">
            Sobre nosotros
        </h1>
        <p>
            La Nave es un espacio que celebra nuestra identidad. Nació del amor por los artistas que hicieron del rock nacional una forma de vida, y que siguen marcando generaciones con su música, su voz y su verdad.
        </p>
        <p>
            Desde acá queremos rendir homenaje a quienes, con poesía y guitarras, nos enseñaron a sentir orgullo por lo que
            somos. Porque el rock argentino no solo suena: nos representa.
        </p>
        <h2 class="text-white text-center mt-4">
            ¡El rock nacional es orgullo e identidad!
        </h2>
        </div>
    </main>
</div>
{{> footer}}
