<div class="productos mb-0 pb-5" style="background-color: #FEC224;" id="pagina-productos">
    {{> header}}
    <main>
        
        <h1 class="titulo-de-pagina text-white text-center m-3 mt-4" style="text-shadow: 1px 1px black;">
                {{tipoProducto}}
        </h1>

        <div class="tarjetas d-flex flex-wrap pb-5" style="justify-content: center;" id="div-tarjetas">
            {{> tarjetas}}
        </div>
        
        {{> detalle}}
    </main>
</div>
{{> footer}}
