
/* Reseteo de aspecto de vínculos */
a {
    text-decoration: none;
    display: block;
}

/* Visibles del header */
#boton-hamburguesa, #a-ingreso, #a-carrito, #a-admin-salir {
    border: none;
    color: black;
}

#boton-hamburguesa {
    font-size: 1.3em;
}

#a-carrito, #a-ingreso, #a-admin-salir, #a-admin-atras {
    font-size: 1.1em;
}

#boton-hamburguesa:hover, #a-ingreso:hover, #a-carrito:hover, #a-admin-salir:hover, #a-admin-atras:hover {
    color: white;
}

.menu-grande-item {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu-grande-item:hover {
    color: #FEC224;
}

.menu-grande-li {
    margin: 0 4%;
}

/* Barra de búsqueda */
.search-container {
    margin-top: 5px;
    position: relative;
}

.search-input {
    background-color:darkgrey;
    height: 35px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boton-busqueda {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-65%);
    color: black;
}


/* Desplegables */
.menu-chico {
    width: 100vw;
    top: 2px !important;
}

.menu-chico, .sub-menu-grande {
    border: 2px solid grey !important
}

.menu-chico,
.desplegable-chico {
    background-color: black !important;
}

.dropdown-chico, .desplegable-chico, .dropdown-item-grande {
    color: white !important;
}

.dropdown-item-chico {
    color: black;
    padding: 6px;
}

.dropdown-chico:hover, .desplegable-chico:hover, .dropdown-item-chico:hover, .dropdown-item-grande:hover {
    background-color:white !important;
    color: black !important;
}

.sub-menu-grande {
    padding-top: 0;
    padding-bottom: 0;
    width: 400px;
    overflow: hidden;
    top: 11px !important;
}

/* Tarjetas */
.tarjeta {
    width: 310px !important;
    overflow: hidden;
}

.sombra {
    box-shadow: 0 2px 5px grey;
}

.titulo-tarjeta {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botones */
.agregar:hover {
    background-color: #58944E;
}

.vaciar:hover, .cancelar:hover {
    background-color: #E55648;
}

.pagar:hover {
    background-color: #794fa0;
}

.enviar:hover {
    background-color: #1899D2;
}

#btn-cerrar-mensaje:hover {
    color: aqua !important;
}

/* Modificaciones en pantallas grandes */

@media (min-width: 576px) {
    
    #a-carrito::before {
            content: 'Carrito ';
    }

    #div-superior {
        background-color: black;
        margin-bottom: 20px;
        padding-bottom: 1px;
        height: 52px;
    }

    #boton-hamburguesa, #a-ingreso, #a-carrito, #a-admin-salir, #a-admin-atras {
        color: white !important;
    }

    #boton-hamburguesa:hover, #a-ingreso:hover ,#a-carrito:hover, #a-admin-salir:hover, #a-admin-atras:hover {
        color: #FEC224 !important;
    }

    .menu-chico {
        width: 70vw;
    }
}

/* Ver producto */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
}

#div-verProducto, #div-verMensaje {
    /* max-width: 600px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* Footer */
.a-footer {
    color: white;
    font-size: 2em;
    margin: 0 1%;
}

footer {
    background: url('./assets/img/publico.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* Div de notificación cuando se agrega un producto al carrito*/

#boton-carrito {
    position: relative;
}

#notificacion-carrito {
    position: absolute;
    bottom: 7px;
    right: -2px;
}

.pointer {
    cursor: pointer;
}

.hoveru:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hoverb:hover {
    font-weight: bold;
    cursor: pointer;
}