
/* Reseteo de aspecto de vínculos */
a {
    text-decoration: none;
    display: block;
}

/* Visibles del header */
#boton-hamburguesa, #a-ingreso, #a-carrito {
    border: none;
    color: black;
    font-size: 1.3em;
}

#boton-hamburguesa:hover, #a-ingreso:hover, #a-carrito:hover {
    color: white;
}

.menu-grande-item {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu-grande-item:hover {
    color: #FEC224;
}

.menu-grande-li {
    margin: 0 3%;
}

/* Barra de búsqueda */
.search-container {
    margin-top: 5px;
    position: relative;
}

.search-input {
    background-color:darkgrey;
    height: 35px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boton-busqueda {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-65%);
    color: black;
}


/* Desplegables */
.menu-chico {
    width: 100vw;
}

.menu-chico, .sub-menu-grande {
    border: 2px solid white !important
}

.menu-chico,
.productos-chico {
    background-color: black !important;
}

.dropdown-chico, .productos-chico, .dropdown-productos-grande {
    color: white !important;
}

.dropdown-productos-chico {
    color: black;
    padding: 6px;
}

.dropdown-chico:hover, .productos-chico:hover, .dropdown-productos-chico:hover, .dropdown-productos-grande:hover {
    background-color:white !important;
    color: black !important;
}

.sub-menu-grande {
    width: 400px;
    overflow: hidden;
    top: 12px !important;
}

/* Tarjetas */
.tarjeta {
    max-width: 310px !important;
}

.sombra {
    box-shadow: 0 2px 5px grey;
}

/* Botones */
.agregar:hover {
    background-color: #58944E;
}

.vaciar:hover {
    background-color: #E55648;
}

.pagar:hover {
    background-color: #794fa0;
}

.enviar:hover {
    background-color: #1899D2;
}

.cancelar:hover {
    background-color: #FEC224;
}

/* Modificaciones en pantallas grandes */

@media (min-width: 576px) {
    #a-ingreso::before {
            content: 'Ingresá ';
    }
    
        #a-carrito::before {
            content: 'Carrito ';
    }

    #div-superior {
        background-color: black;
        margin-bottom: 20px;
        padding-bottom: 1px;
    }

    #boton-hamburguesa, #a-ingreso, #a-carrito {
        color: white !important;
    }

    #boton-hamburguesa:hover, #a-ingreso:hover ,#a-carrito:hover {
        color: #FEC224 !important;
    }

    .menu-chico {
        width: 70vw;
    }
}

/* Ver producto */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}

#div-verProducto {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

/* Footer */
.a-footer {
    color: white;
    font-size: 2em;
    margin: 0 1%;
}

footer {
    background: url('./assets/img/publico.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}